*{
    padding: 0;
    margin: 0;
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 20);
    font-family: Arial, Helvetica, sans-serif;
   
}


.cal{
    height: 400px;
    width: 300px;
    border-inline: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.507);
    position: relative;
   
}

.enter{
    max-width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    right: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0.445);
    font-size: 3rem;
    text-align: right;
    color: white;
    padding-inline: 10px;
   border: none;
 
}

.enter::placeholder{
    color: white;
}
.button{
    margin-top: 41%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button button{
    height: 1.3cm;
    width: 1.3cm;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.185);
    border-radius: 50%;
    margin: 3px 8px;
    background-color: transparent;
    color: white;
}

.button button:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

.button button:focus{
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.185);
}